header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;
    background: #fff;
    box-shadow: 0 5px 5px #7771;
    margin-bottom: 20px;
}

.logo_wrapper img{
  width:100px;
  object-fit: contain;
}

.navbar_wrapper{
    display: flex;
    align-items: center;

}
.navbar{
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar input{
    outline: none;
    border-radius: 4px;
    border: solid rgb(179, 179, 179);
    padding: 10px 25px;
    width:100%;
}

.icons_wrapper{
    display: flex;
    gap: 20px;
}

.icon_search{
    margin-left: -30px;
}

.icon_search svg{
  font-size: 20px;
}